.container {
  padding: 1rem;
  max-width: 50rem;
  margin: 0 auto;
}

.searchBar {
  display: flex;
  width: 100%;

}
.input {
  width: 100%;
}

.grid {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  /* grid-template-rows: repeat(auto, 1fr); */
  gap: 1rem;
}